.gradle/
build/

# Java
*.class
*.log
hs_err_pid*
replay_pid*
*.jar

.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.launch

.DS_Store
Thumbs.db

out/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat